.grid {
    border: 1px;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
}


.grid div {
    height: 20px;
    width: 20px;
}

.player1 {
    background-color: red;
    border-radius: 10px;
}


.player2 {
    background-color: blue;
    border-radius: 10px;
}


